.section {
  padding: 80px 0 40px;
  display: flex;
  justify-content: center;
}

.quote {
  max-width: 985px;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.05em;
  text-align: center;
  color: var(--color-text);
}